.bg-info-banner{
    background-color: rgb(250, 241, 229);
}

.title-pri{
    color:rgb(26, 35, 87);
}
.title-head{
    color:rgb(247, 120, 81);
}

.bg-secondary-custom{
    background-color: rgb(243, 243, 243);
}
.margintop{
    margin-top: 100px;
}

.img-witdh{
    width: 100px;
}